<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free Website Pencari Restaurant WAREG TENAN">
  
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap">
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
  />
  <title>Restaurant Apps</title>

  <!-- <script src="https://use.fontawesome.com/b070c8f1df.js"></script> -->
</head>

<body>
  <a href="#section_container" class="skip-link">Skip to Content?</a>
  <header class="header">
    <div class="hero">
      <div class="hero_inner">
        <h1 id="title" class="hero_title">Wareg Tenan</h1>
        <button aria-label="hamburger_button" id="menu" class="hero_menu">☰</button>
      </div>
      <nav id="drawer" class="nav">
        <ul class="nav_list">
          <li class="nav_item"><a href="#/restaurant-item">Home</a></li>
          <li class="nav_item"><a href="#/like">Favourite</a></li>
          <li class="nav_item"><a href="https://www.linkedin.com/in/richard-alexander-a6ab46278/">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main tabindex="-1" id="main-content"></main>

  <footer class="footer">
    <!-- <h3>&copy; 2024 Richard Alexander</h3> -->
    <foot-bar></foot-bar>
  </footer>
</body>

</html>